/* CONTENEDOR GENERAL */
.container
{
  width: auto;
  height: auto;
}

/* CABECERA */

#dropdownMenuLink
{
  border-radius: 20px;
  background: #2E4172;
  
}


/* CUERPO */

.carousel-inner
{
  border-radius: 20px;
} 

#nosotros h1,h2,img
{
  text-align: center;
  border-radius: 20px;
}









/* PIE DE PAG */
 #face
{
  height: 60px;
  width: 60px;
}

 #insta
{
  height: 60px;
  width: 60px;
}

 #twit
{
  height: 60px;
  width: 60px;  
}

 