






 #face
{
  height: 60px;
  width: 60px;
  margin-left: 15px;

}

 #insta
{
  height: 60px;
  width: 60px;
  margin-left: 15px;

}

 #twit
{
  height: 60px;
  width: 60px;
  margin-left: 15px;
}

 #loggin
{
  margin-right: 100px;
}