.container 
{
  width: auto;
  height: auto;
}


#dropdownMenuLink
{
  border-radius: 20px;
  background: #2E4172;
  
}


 #face
{
  height: 60px;
  width: 60px;
}

 #insta
{
  height: 60px;
  width: 60px;
  

}

 #twit
{
  height: 60px;
  width: 60px;
  
}

 